

@font-face {
  font-family: SabonNextLT;
  src: url("../public/fonts/SabonNextLT.ttf");
}

@font-face {
  font-family: SabonNextLTBold;
  src: url("../public/fonts/SabonNextLTBold.ttf");
}

@font-face {
  font-family: SabonNextLTBoldItalic;
  src: url("../public/fonts/SabonNextLTBoldItalic.ttf");
}

@font-face {
  font-family: SabonNextLTItalic;
  src: url("../public/fonts/SabonNextLTItalic.ttf");
}

* {
  font-family: SabonNextLT, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif!important;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.customOverlay {
  background: rgba(36, 123, 160, 0.7);
}
.customModal {
  background: #b2dbbf;
  max-width: 500px;
  width: 100%;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: url(https://wallpapercave.com/wp/Ex06wbF.jpg);
  height: 100vh;
  background-size: cover;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #161e2e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

